build
build/**
target
target/**
.gradle/
.idea/
**/.idea/**
*.iml
*.bak
*-SNAPSHOT.jar
log
logs
log/**
logs/**
*.log
*.ser
out
out/**
**.DS_Store
# Jinja template render
env.yml
**/application.yml
**/logback.xml